<div id="invoicegrid01">

    <div id="logoheader">
        <div>LOGO / HEADER</div>
    </div>

    <div id="supplier_label">
        <div>Supplier:</div>
    </div>

    <div id="suppliername">
        <div>Company name</div>
        <div>AddressA</div>
        <div>AddressB</div>
        <div>AddressC</div>
    </div>

    <div id="supplierid">
        <div>IČO: XX XX XX XX</div>
        <div style="padding-bottom: 5px;">DIČ: CZ XX XX XX XX</div>
        <div style="font-size: 12px;">Phone: +XXX XXX XXX XXX</div>
        <div style="font-size: 12px;">Email: XXXXX@XXXXX.XXX</div>
    </div>

    <div id="supplierbankname">
        <div>Bankovni spojeni / Bank:</div>
        <div >BANK NAME</div>
        <div style="padding-bottom: 5px;">BANK ADDRESS</div>
        <div>Cislo uctu / Account Number:</div>
        <div style="font-size: 12px;">CZK: XXXXXXXXXXX/XXXX</div>
        <div style="font-size: 12px;">EUR: XXXXXXXXXXX/XXXX</div>
        <div style="font-size: 12px;">SWIFT: XXXXXXXX</div>
    </div>

    <div id="invoiceaddress_label">
        <div>Invoice Address:</div>
    </div>

    <div id="invoiceresidency_label">
        <div>Residency:</div>
    </div>

    <div id="customerinvoiceaddress">
        <div>Company name</div>
        <div>AddressA</div>
        <div>AddressB</div>
        <div style="padding-bottom: 5px;">AddressC</div>
        <div>Agent Code: XXX-XXX-XXX-XXX</div>
    </div>

    <div id="customerresidencyaddress">
        <div>Company name</div>
        <div>AddressA</div>
        <div>AddressB</div>
        <div style="padding-bottom: 5px;">AddressC</div>
        <div>IČO: XX XX XX XX</div>
        <div>DIČ: CZ XX XX XX XX</div>
    </div>

    <div id="invoicedates_label">
        <div>Invoice Number and Dates:</div>
    </div>

    <div id="invoicedatelabels">
        <div>Vystaveni / Invoice Date:</div>
        <div>DUZP / Tax Point:</div>
        <div>Splatnost do / Due Date:</div>
        <div>Za obdobi / Invoiced Period:</div>
    </div>

    <div id="invoicedatevalues">
        <div>00.00.0000</div>
        <div>00.00.0000</div>
        <div>00.00.0000</div>
        <div>00.00.0000</div>
    </div>

    <div id="invoicenumber">
        <div>Danovy Doklad / Invoice Number.: XXXXXXXXXX</div>
    </div>

    <div id="invoicenumber01">
        <div>Danovy Doklad / Invoice Number.: XXXXXXXXXX</div>
    </div>

    <div id="invoicerates_label">
        <div>Tax Rates and Amountes:</div>
    </div>

    <div id="taxratelabel">
        <div>Sazba DPH / VAT rate</div>
    </div>

    <div id="taxbaselabel">
        <div>Danovy Zaklad / Tax Base</div>
    </div>

    <div id="taxamountlabel">
        <div>Castka Dane / Tax Amount</div>
    </div>

    <div id="taxrate0label">
        <div>0%</div>
    </div>

    <div id="taxrate15label">
        <div>15%</div>
    </div>

    <div id="taxrate21label">
        <div>21%</div>
    </div>

    <div id="taxbaseamount0">
        <div>000.000.000,00</div>
    </div>

    <div id="taxbaseamount15">
        <div>000.000.000,00</div>
    </div>

    <div id="taxbaseamount21">
        <div>000.000.000,00</div>
    </div>

    <div id="taxamount0">
        <div>000.000.000,00</div>
    </div>

    <div id="taxamount15">
        <div>000.000.000,00</div>
    </div>

    <div id="taxamount21">
        <div>000.000.000,00</div>
    </div>

    <div id="invoicetotal_label">
        <div>VAT and Invoice Amounts:</div>
    </div>

    <div id="totalwithouttaxlabel">
        <div>Cena bez DPH / Amount without VAT:</div>
    </div>

    <div id="totalwithouttaxamount">
        <div>000.000.000,00</div>
    </div>

    <div id="totaltaxlabel">
        <div>Z toho DPH / VAT Amount:</div>
    </div>

    <div id="totaltaxamount">
        <div>000.000.000,00</div>
    </div>

    <div id="totalwithtaxlabel">
        <div>Celkem k uhrade / Invoice Amount:</div>
    </div>

    <div id="totalwithtaxamount">
        <div>000.000.000,00</div>
    </div>

    <div id="note_label">
        <div>Notes:</div>
    </div>

    <div id="note01">
        <div>The past due account will be reffered to INTRUM JUSTITIA Incasso / collection expenses and
             penalty interest will be charged according to applicable law.</div>
    </div>

    <div id="note02">
        <div>Company is registered in corporate registry held by Municipal Court in Prague</div>
    </div>

</div>

@code {

}
