#poplabelleft {
    width: 100px;
    text-align: right
}

#poplabelright {
    width: 200px;
    text-align: left
}

#SaveButton {
    grid-area: SaveButton;
    text-align: left;
    font-size: 35px;
    font-family: Calibri;
    width: fit-content;
    height: fit-content;
    padding-bottom: 5px
}

#AwbNumber {
    grid-area: AwbNumber;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    background-color: lightgray;
    border: 1px solid;
    border-color: black;
    margin-right: 20px;
    font-weight: bolder;
    color: black;
    font-size: 25px;
    font-family: Calibri;
}

#CustomerSelect {
    grid-area: AwbNumber;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    background-color: lightgray;
    border: 1px solid;
    border-color: black;
    margin-right: 20px;
    font-weight: bolder;
    color: black;
    font-size: 25px;
    font-family: Calibri;
}

#FirstFlightRow {
    font-family: Calibri;
    max-width: max-content;
    background-color: lightgray;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: black;
    margin-bottom: 4px;
}

#SecondFlightRow {
    font-family: Calibri;
    max-width: max-content;
    background-color: lightgray;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: black;
    margin-bottom: 4px;
}

#ThirdFlightRow {
    font-family: Calibri;
    max-width: max-content;
    background-color: lightgray;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: black;
}

#InputLabel {
    margin: 0;

}


#OriginDestCommRow {
    font-family: Calibri;
    max-width: max-content;
    background-color: lightgray;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: black;
    margin-bottom: 4px;
}

#PcsGwVolRow {
    font-family: Calibri;
    max-width: max-content;
    background-color: lightgray;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: black;
    margin-bottom: 4px;
}

#ShcRow {
    font-family: Calibri;
    max-width: max-content;
    background-color: lightgray;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: black;
    margin-bottom: 4px;
}

#chwinput {
    font-family: Calibri;
    max-width: max-content;
    background-color: lightcoral;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: black;
    margin-bottom: 4px;
}

#DimmInputBox {
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: black;
}

#ShpmtSpecAndFlts {
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: black;
}

#ShipmentDetailsLabel {
    max-width: fit-content;
    font-family: Calibri;
    font-weight:bold;
    color: white;
    font-size: 18px;
    margin-bottom: 4px;
    padding-left: 0px
}

#ChargesInputBox {
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: black;
}

#IssuingDateRow {
    font-family: Calibri;
    max-width: max-content;
    background-color: lightgray;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: black;
    margin-top: 4px;
}
